.flex-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

p {
  font-size: 13pt;
}

.wrapper-main {
  display: grid;
  height: 100vh;
  grid-template-columns: auto;
  grid-template-rows: 0.3fr;
  grid-template-areas:
    "nav nav nav nav"
    "content1 content2 content3 ."
    "footer footer footer footer";
  grid-gap: 0.1em;
  text-align: center;
  font-size: 19pt;
}

nav {
  grid-area: nav;
}

#content1 {
  grid-area: content1;
}

#content2 {
  grid-area: content2;
}

#content3 {
  grid-area: content3;
}

footer {
  grid-area: footer;
}

flex-foot {
  display: flex;
  justify-content: flex-end;
}

.naruto-symbol {
  height: 20px;
  width: 20px;
  border: none;
}

h1,
h2,
h3 {
  color: darkblue;
}

html {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  background-color: whitesmoke;
}

@media only screen and (max-width: 895px) {
  .main-container {
    grid-template-columns: 1fr 1fr 0.2fr 0.4fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr;
    grid-template-areas:
      "nav"
      "main"
      "content1"
      "content2"
      "content3"
      "footer";
  }
}

li {
  list-style: none;
}

a:any-link {
  text-decoration: none;
}

a:link {
  color: blue;
}

a:visited {
  color: purple;
}

a:hover {
  color: orangered;
  text-decoration: underline;
}

@media only screen and (min-width: 475px) {
  .main-container {
    grid-template-columns: 1fr 1fr 0.2fr 0.4fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr;
    grid-template-areas:
      "nav"
      "main"
      "content1"
      "content2"
      "content3"
      "footer";
  }
}

@media only screen and (min-width: 600px) {
  .main-container {
    grid-template-columns: 1fr 1fr 0.2fr 0.4fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr;
    grid-template-areas:
      "nav"
      "main"
      "content1"
      "content2"
      "content3"
      "footer";
  }
}
