.main-container {
  display: grid;
  height: 100vh;
  grid-template-columns: auto;
  grid-template-rows: 0.3fr 1fr 1fr;
  grid-template-areas:
    "nav nav nav nav"
    "main . . ."
    "content1 content2 content3 ."
    "footer footer footer footer";
  grid-gap: 0.1em;
  text-align: center;
  font-size: 12pt;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

#content1 {
  border: 1px black solid;
  padding: 10px;
  width: 300px;
  box-shadow: 5px 5px black;
  background-color: skyblue;
  grid-area: content1;
}

#content2 {
  border: 1px black solid;
  padding: 10px;
  width: 300px;
  box-shadow: 5px 5px black;
  background-color: skyblue;
  grid-area: content2;
}

#content3 {
  border: 1px black solid;
  padding: 10px;
  width: 300px;
  box-shadow: 5px 5px black;
  background-color: skyblue;
  grid-area: content3;
}

footer {
  grid-area: footer;
}

img {
  height: 100px;
  width: 150px;
  margin-bottom: 5px;
  border: 1.5px black solid;
}

.divington {
  display: flex;
  justify-content: space-around;
}

.border-patrol {
  text-decoration: underline;
}

.flexington {
  display: flex;
  justify-content: end;
  font-size: 20pt;
}

.naruto-symbol {
  height: 20px;
  width: 20px;
  border: none;
}

.flex-foot {
  display: flex;
  justify-content: end;
}

h3 {
  text-transform: uppercase;
  font-size: 18pt;
  text-decoration: none;
  font-family: sans-serif;
  color: darkblue;
}

a:any-link {
  text-decoration: none;
}

a:link {
  color: blue;
}

a:visited {
  color: purple;
}

a:hover {
  color: orangered;
  text-decoration: underline;
}

.para-flex {
  display: flex;
  justify-content: end;
  font-size: 15pt;
  border-radius: 2px;
}

html {
  background-color: whitesmoke;
}

@media only screen and (min-width: 600px) {
  .main-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr;
    grid-template-areas:
      "nav"
      "main"
      "content1"
      "content2"
      "content3"
      "footer";
  }
}

@media only screen and (min-width: 475px) {
  .main-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr;
    grid-template-areas:
      "nav"
      "main"
      "content1"
      "content2"
      "content3"
      "footer";
  }
}

@media only screen and (max-width: 895px) {
  .main-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr;
    grid-template-areas:
      "nav"
      "main"
      "content1"
      "content2"
      "content3"
      "footer";
  }
}
